/* CONFIGURAÇÕES GERAIS */
html {
    scroll-behavior: auto;
}

.patternContainer {
    height: 100vh;
    width: 100vw;
}

.welcome {
    font-size: 30px;
    position: fixed;
    text-align: center;
    justify-self: center;
    z-index: 1;
    text-shadow: 0 2px black,
        0 0 30px black;
    margin-top: 20px;
    animation: welcomeAnimation 5s ease-in-out;
}

.map {
    z-index: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgb(0, 99, 212), rgb(1, 21, 126));
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    position: fixed;
    align-self: left;
    z-index: 1;
    height: 100vh;
    width: 300px;
    background-color: #fff;
    animation: 0.5s menuApparition ease-in-out;
}

.remove {
    position: relative;
    width: 100%;
    background-color: #fff;
    top: 400px;
    font-size: 20px;
    height: 40px;
    color: red;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 0;
    border-right: 0;
    text-shadow: 0;
}

/* ANIMAÇÕES */
@keyframes welcomeAnimation {
    0% {
        margin-top: -100px;
        opacity: 0;
    }

    40% {
        margin-top: 20px;
        opacity: 1;
    }

    60% {
        margin-top: 20px;
        opacity: 1;
    }

    99% {
        margin-top: -100px;
        opacity: 0;
    }
}

@keyframes menuApparition {
    from {
        left: -300px;
    }

    to {
        left: 0;
    }
}

/* RESPONSIVIDADE */

@media (max-width: 1018px) {
    .welcome {
        font-size: 20px;
        text-align: center;
        width: 250px;
    }

    .patternContainer {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        & button {
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
        }
    }
}