/* CONFIGURAÇÕES GERAIS */
html {
    scroll-behavior: auto;
}

.patternContainer {
    height: 100vh;
    width: 100vw;
}

.showSearch {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
    position: fixed;
    margin-top: 2.3vh;
    margin-left: 10vw;
    z-index: 1;
    border: 3px solid white;
    border-radius: 100%;
    background-color: rgb(0, 99, 212);
    height: 70px;
    width: 70px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 25px;
    color: white;
}


.welcome {
    font-size: 30px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    text-align: center;
    z-index: 1000;
    text-shadow: 0 4px black, 0 0 30px black;
    animation: slideUpDown 4s ease forwards;
    opacity: 0;
}

@keyframes slideUpDown {
    0% {
        transform: translateX(-50%) translateY(100%);
        opacity: 0;
    }

    20% {
        transform: translateX(-50%) translateY(-100%);
        opacity: 1;
    }

    80% {
        transform: translateX(-50%) translateY(-100%);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(100%);
        opacity: 0;
    }
}

.map {
    z-index: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgb(0, 99, 212), rgb(1, 21, 126));
    display: flex;
    justify-content: center;
    align-items: center;
}

.showMenu {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
    position: fixed;
    margin-top: 2vh;
    margin-left: 2vw;
    z-index: 1;
    border: 3px solid white;
    border-radius: 100%;
    background-color: rgb(0, 99, 212);
    height: 95px;
    width: 95px;
    cursor: pointer;
    transition: 0.2s;
}

.menu {
    overflow: hidden;
    position: fixed;
    align-self: left;
    display: none;
    flex-direction: column;
    z-index: 1000;
    height: 100vh;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.3);
    animation: 0.5s menuApparition ease-in-out;
}

.menu button:first-of-type {
    border: none;
}

.UserName {
    border-top: 2px solid #004aad;
    border-bottom: 2px solid #004aad;
    position: relative;
    top: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 45px;

    & p {
        animation: userAnimation 2.5s linear infinite;
        color: black;
        font-size: 20px;
        text-shadow: none;
        font-weight: 500;
    }
}

.remove {
    position: absolute;
    cursor: pointer;
    width: 100%;
    background-color: #fff;
    top: 93%;
    font-size: 20px;
    height: 40px;
    color: red;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 0;
    border-right: 0;
    text-shadow: 0;
    transition: 0.3s;
}

.remove:hover {
    background-color: red;
    color: #fff;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.showVehicle {
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    top: 100px;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #004aad;
    color: #fff;
    
    font-weight: 600;
    font-size: 16px;
    transition: 0.5s;
}


.showVehicle:active {
    transition: 0.1s;
    font-size: 15px;
}

.vehicleInformations {
    display: none;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    position: relative;
    z-index: 1;
    height: 175px;
    
    gap: 15px;
    top: 100px;
    animation: vehicleAnimation 0.5s ease-in-out;
    border-bottom: 2px solid #004aad;

    & h2 {
        display: flex;
        justify-content: left;
        padding-left: 20px;
        gap: 10px;
        font-family: "League Spartan", sans-serif;
        color: black;
        font-size: 30px;
        font-style: italic;
        
    }

    & p {
        padding-left: 30px;
        font-size: 19px;
        color: black;
        font-family: "League Spartan", sans-serif;
        font-weight: 600;
        text-shadow: none;
        font-style: italic;

        & span {
            color: #004aad;
            font-size: 21px;
            font-family: "League Spartan", sans-serif;
        }
    }

    & .scaleInformation {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
}

.infoRota {
    position: fixed;
    bottom: 45px;
    right: 20px;
    background: linear-gradient(rgb(0, 0, 120), rgb(0, 34, 255));
    color: white;
    padding: 24px;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.231);
    animation: infoRotaAnimacao 0.5s ease-in-out;

    & h2 {
        position: relative;
        font-weight: 600;
        text-shadow: 0 0 5px black;
        display: flex;
        flex-direction: column;
        align-items: start;

        & span {
            text-shadow: 0 0 5px black;
            background-color: #001156;
            border-radius: 10px;
            width: 100%;
            font-weight: 700;
            font-style: italic;
            color: rgb(255, 255, 255);
            font-size: 35px;
        }
    }
}

.clockIcon,
.truckFastIcon {
    position: relative;
    animation: animationIcon 0.7s ease-in-out infinite;
}

@keyframes infoRotaAnimacao {
    0% {
        right: 0;
        opacity: 0;
    }

    100% {
        right: 20px;
        opacity: 1;
    }
}

@keyframes animationIcon {
    0% {
        left: -10px;
    }

    50% {
        left: -8px;
    }

    100% {
        left: -10px;
    }
}

/* ÍCONES */
.userIcon path {
    animation: userAnimation 2.5s linear infinite;
    fill: black;
}

.userIcon {
    font-size: 20px
}

.setaIcon path {
    fill: black;
}

.setaIcon {
    font-size: 15px;
}

.truckIcon path {
    fill: black;
}

.truckIcon {
    font-size: 20px;
}

.barsIconInside {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: 20px;
    font-size: 35px;
    cursor: pointer;
    transition: 0.3s;
}

.barsIconInside:hover {
    margin-top: 23px;
}

.barsIconInside path {
    fill: black;
}

.barsIconOutside {
    font-size: 25px;
}

.barsIconOutside path {
    fill: white;
}

/* ANIMAÇÕES */
@keyframes welcomeAnimation {
    0% {
        margin-top: -100px;
        opacity: 0;
    }

    40% {
        margin-top: 20px;
        opacity: 1;
    }

    60% {
        margin-top: 20px;
        opacity: 1;
    }

    99% {
        margin-top: -100px;
        opacity: 0;
    }
}

@keyframes menuApparition {
    from {
        left: -300px;
    }

    to {
        left: 0;
    }
}

@keyframes vehicleAnimation {
    from {
        top: 90px;
        opacity: 0;
    }

    to {
        top: 100px;
    }
}

@keyframes userAnimation {
    0% {
        color: black;
        fill: black;
    }

    25% {
        color: rgb(0, 0, 165);
        fill: rgb(0, 0, 165);
    }

    75% {
        color: black;
        fill: black;
    }
}

/* RESPONSIVIDADE */

@media (max-width: 1018px) {
    .welcome {
        font-size: 20px;
        text-align: center;
        width: 250px;
    }

    .infoRota {
        padding-top: 14px;
        padding-right: 0;
        border-radius: 0;
        padding-bottom: 18px;
        max-width: 100%;
        width: 100%;
        right: 0;   
        bottom: 25px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .infoRota h2 {
        width: 82%;
        text-align: left;
        background-color: none;
    }

    .infoRota span {
        text-align: center;
    }


    @keyframes animationIcon {
        0% {
            left: -4px;
        }

        50% {
            left: 0px;
        }

        100% {
            left: -4px;
        }
    }

    .patternContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu {
        position: fixed;
        width: 100vw;
        flex-direction: column;
        align-content: right;
    }

    .menu button:first-of-type {
        position: relative;
        background-color: black;
        display: flex;
        justify-content: end;
    }

    .UserName {
        & p {
            font-size: 21px
        }
    }

    .barsIconInside {
        top: unset;
        right: unset;
        position: absolute;
        margin-right: 15px;
        margin-top: 20px;
        font-size: 35px;
        cursor: pointer;
        transition: 0.3s;
    }

    .welcome {
        margin-right: 80px;
    }

    .showMenu {
        margin-top: 10.5vh;
        margin-right: 5vw;
        height: 70px;
        width: 70px;
        align-self: flex-end;
    }

    .showVehicle {
        font-size: 18px;
        transition: 0.1s;
    }

    .showVehicle:active {
        font-size: 17px;

    }

    .showSearch {
        margin-right: 5vw;
        height: 70px;
        width: 70px;
        align-self: flex-end;
        margin-top: 20vh;
    }

    .remove {
        font-size: 22px;
    }

    @keyframes menuApparition {
        from {
            left: -100%;
        }

        to {
            left: 0;
        }
    }
}